<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
		<h3>Form Input Binding Dengan VueJS</h3>
	<div id="app">
		<input v-model="query">
		<li
			v-for="(item, index) in result"
			v-bind:key="item.paket"
			v-bind:data-index="index"
			>{{ item.paket }}
		</li>
	</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            query:"",
            list:[
                { paket: "Kalkulus Dasar"},
                { paket: "Fisika"},
                { paket: "Aljabar Linear Elementor"},
                { paket: "Aljabar Abstrak"},
                { paket: "Algoritma Pemprograman"}
            ],
            isSearching:false,
            result: []
        },
        watch: {
            query: function () {
                var vm = this
                this.isSearching = true;
                setTimeout(function(){

                    vm.result = vm.list.filter(function (item){
                        return item.paket.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                    })
                }, 500)
            }
        },
    });
</script>
</html>